@import "tailwindcss";

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  position: relative;
  background-image: url("/src/assets/background-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.position_pattern_line_top {
  position: absolute;
  top: 50px;
  right: 0;
  left: auto;
  max-width: 100vw;
  height: auto;
  z-index: -1;
}

.position_pattern_line_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  max-width: 100vw;
  height: 25em;
  z-index: -999;
}

.position_pattern_lines {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  height: auto;
  z-index: -1;
}

.position_pattern_circle {
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 10em;
  z-index: -1;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-style: normal;
}

.inconsolata-bold {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
}

.margin-left {
  margin-left: 37em;
}
